table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

.red-text {
  color: red;
}

.red-background {
  background-color: rgb(255, 200, 215);
}

.blue-text {
  color: blue;
}

.grey-background {
  background-color: rgb(155, 155, 155);
}

.blue-background {
  background-color: rgb(120, 160, 230);
}

.light-blue-background {
  background-color: rgb(215, 215, 215);
}

.