* {
  background-color: #121212;
  color: #fff;
}

body {
  margin: 0 auto;
  padding: 50px;
}

header .slogan {
  font-size: 40px;
  background-color: rgb(230, 230, 230);
  color: #121212;
  height: 50px;
  margin: auto;
  padding: auto;
  text-align: center;
  border-radius: 10px;
}

.title {
  font-size: 25px;
  margin-top: 60px;
  text-align: center;
}

.first-paragraph {
  font-size: 15px;
  margin: 15px;
  background-color: transparent;
}

/* REVIEWS */
blockquote {
  font-size: 17px;
}

.reviews {
  background-image: url(./img/bus.jpg);
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

#reviews {
  text-align: center;
}

#columns {
  width: 100%;
  margin: 0 auto;
}

div#columns blockquote {
  color: black;
  text-align: left;
  float: left;
  width: 25%;
  margin: 2%;
  padding: 0px 2% 10px 2%;
  height: 300px;
  margin-top: 250px;
  background-color: rgba(130, 130, 130, 0.7);
  border-radius: 10px;
}

cite {
  color: black;
  font-weight: bold;
  line-height: 200%;
  background-color: transparent;
}

/* TABLE */
.table-start {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: -20px;
  text-align: center;
}

table {
  width: 100%;
}

#date,
#departure,
#layovers,
#arrival,
#days,
#nights,
#price {
  text-align: center;
  color: #121212;
  background-color: rgb(172, 172, 172);
}

.date,
.departure,
.layovers,
.arrival,
.days,
.nights,
.price {
  text-align: center;
  color: #121212;
  background-color: rgb(230, 230, 230);
}

/* FORM */
.form-start {
  font-size: 30px;
  margin-top: 90px;
  margin-bottom: -20px;
  text-align: center;
}

.intro {
  font-size: 14px;
  text-align: justify;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: block;
  float: left;
  margin-left: 1%;
}

label {
  font-size: 1.25em;
  display: block;
  padding-bottom: 10px;
}

input,
select,
textarea {
  font-size: 1.25em;
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

button {
  font-size: 25px;
  height: 50px;
  background: #fff;
  color: #121212;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 820px;
}

button:hover {
  border: 2px solid gray;
}
