@using ProjektInternship2022.MVC.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="row">
        <fieldset class="well the-fieldset">
            <legend class="the-legend"><span>Actions</span></legend>
            <div class="pull-right">
                <button type="button" id="btn_new" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> New</button>
                <button type="button" id="btn_edit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
            </div>
        </fieldset>
    </div>
</div>
@Html.Partial("_ValidationSummary", ViewData.ModelState)
<div class="row">
    <div class="row">
        <div class="text-center">
            <h2>Lista e magazinave</h2>
            @(Html.Kendo().Grid<Magazina>()
                .Name("MagGrid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.ID).Hidden();
                    columns.Bound(c => c.Emri);
                    columns.Bound(c => c.Qyteti);
                   
                    
                })
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Scrollable(scr => scr.Enabled(true).Height("auto"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("GetMagazina", "MagazinaController"))
                    .Sort(sort => { sort.Add(p => p.ID).Descending(); })
                )
            )
        </div>
    </div>
</div>
<script src="~/Scripts/magazina/mag.js"></script>