// liste dhe forme qe shton magazina si shembulli me tasket

1 -> tabelat ne DB ✔️
2 -> procedurat   -> insert ✔️
			-> update ✔️
			-> select (all) ✔️
3 -> Lidhja me DB (web config) [connection string] ✔️
4 -> Konsumimi i procedurave me ADO.NET ✔️
5 -> Krijimi i formes se tipit "Edit"
6 -> Krijimi i formes se tipit "Index"
7 -> Navigimi nga Index ne Edit
 

date dhe FK

2-> apdejti -> CREATE PROCEDURE magazina_update

@ID AS int,
@Emri AS varchar(150),
@Kapaciteti as int,
@Qyteti as int,
@Data as date
as
UPDATE Magazina set Emri = @Emri,
Kapaciteti = @Kapaciteti,
Qyteti= @Qyteti
WHERE ID = @ID

inserti -> CREATE PROCEDURE magazina_insert
@Emri as varchar(150),
@Kapaciteti as int,
@Qyteti as int,
@Data as date
as 
INSERT INTO Magazina (Emri, Kapaciteti, Qyteti) 
values (@Emri, @Kapaciteti, @Qyteti)

3 -> seleKti -> CREATE PROCEDURE magazina_select
@ID as INT = NULL
AS 
SELECT * FROM Magazina 
WHERE ID = @ID OR ID = NULL



